root {
    --font-200: komet, sans-serif;
    font-weight: 200;
    font-style: normal;
    
    --font-400: komet, sans-serif;
    font-weight: 400;
    font-style: normal;

    --font-700: komet, sans-serif;
    font-weight: 700;
    font-style: normal;

    --font-900: komet, sans-serif;
    font-weight: 900;
    font-style: normal;
}

*,
*::before
*::after {
    box-sizing: border-box;

}



body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  
}

h1 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2.1rem;
    color: #0a6cb8;
}

h1.header.green {
    color: #209220;
}

h2 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #0a6cb8;
}

h3 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9375rem;
    color: black;
   }



a {
    text-decoration: none;
}

.simple-span {
    background-image: url(images/green-stroke.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    }

p {
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 1.1rem;
    color: black;
}

.nav-container {
    background-color: #2638C4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 1.2rem;
    margin-bottom: 0;
  
  
   
}



.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo-image {
    max-width: 15rem;
    
}

.pets-logo-image {
    max-width: 80%;
    
}

.hero-container {
    display: grid;
    grid-template-rows: 1fr;

    background-color: #88c7c3;
    background-image: url(images/top-green.svg);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: 159em;
   
    min-height: 50vh;
    margin-top: 0;
    max-height: 100%;
   
}

.hero-item {
   
    display: grid;
    align-self: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a";
    width: 100%;
    padding: 3rem 0 0 0;
    
  
}

.pets-logo-image {
    display: grid;
    grid-area: "a";
    max-width: 35rem;
    z-index: 9;
    align-self: center;
    margin-bottom: 5rem;
   
    
}

.pet-group {
    max-width: 20rem;
    margin-bottom: -1rem;
    
    
}
.header {
    margin: 0;
   padding: 0;
}

.header.jonnie{
    display: grid;
   font-family: "baskerville-urw", serif;
   font-weight: 800;
   font-style: normal;
   font-size: 5.5rem;
   padding-bottom: 2rem;
   
 

}



/*.ivan-doig-logo {
    width: 90%;
    
    margin: auto auto;
    

}*/

.about-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-image: url(images/bottom-green.svg);
    background-repeat:no-repeat;
    background-position: top;
    background-size: 159em;
    margin-top: 0;
    padding: 3rem 0 0 0;
    background-color: white;
    margin-bottom: 0;
  
}

.subheader.airs {
    padding: 1rem 0;
    

}


.about-item {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    max-width: 90%;
    margin: auto auto auto auto;
    text-align: center;
   
}

.about-item.no-padding {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
    max-width: 90%;
    margin: auto auto auto auto;
    text-align: center;
   
}






.about-content {
    text-align: left;
}

.about-content.how{
    text-align: center;
}
.about-content.how.number{
    text-align: center;
    color: white;
}

.about-content.footer {
    color: white;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0 4rem 0;
    
    
}

.how-it-works-box {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    

}







.subheader {
    margin: 0;
    padding: 0;
}

h1.header.watch {
    color: #1e4078;

}

h2.subheader.preview {
    color: #1e4078;
}

.about-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    padding-top: 1rem;
    width: 100%;
    margin: auto auto auto auto;
    
   
}

.image-gridbox-one {
    display: grid;
    width: 100%;
    background-color: #1e4078;
    background-image: url("images/astro.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
}

.image-gridbox-two {
    display: grid;
    width: 100%;
    background-color: #1e4078;
    background-image: url("images/clem.jpeg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
}

.photo-caption {
    position: absolute;
    top: 87%;
    font-family: ropa-mix-pro,sans-serif;
    font-weight: 200;
    font-style: normal;
   
    font-size: .9375rem;
    color: white;
    padding-bottom: 2rem;
    padding-left: 2rem;
    
}



.watch-container{
    background-color: white;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0rem;
    padding-top: 1rem;
    
    /*background-image: url("images/about-top-small.svg");
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto 4rem, auto;*/
   
}

.watch-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    width: 90%;
    margin: auto auto auto auto;
    text-align: center;

}


.video-container {
    display: grid;
    position: relative;
    width: 100%;
    margin: 3rem auto 8rem auto;
    padding-bottom: 43%; 
    height: 0;

  }

  .video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.watch-passport {
    display: grid;
    background-color: #1e4078;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 1rem auto 1rem auto;
    min-width: 18rem;
    
  

    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
   
    font-size: 1.5rem;
    color: white;

}


.subheader.film {
    padding-bottom: 1rem;
}

.film-maker-container {
    display: grid;
    grid-template-columns: 1fr;
   
    background-image: url("images/about-top-small.svg");
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto 4rem, auto;
    margin-top: 0;
   
    background-color: black;
    margin-bottom: 0;
    padding-bottom: 5rem;
   

}



.film-maker-grid {
    padding-top: 0rem;
    

}

.film-maker-header {
    padding-top: 5rem;
    text-align: center;
}

.film-maker-item {
    display: grid;
    max-width: 90%;
    margin: auto auto;
    padding-top: 4rem;
   

}





.portrait-image {
    width: 100%;
    padding-bottom: 2rem;
}


.sub-footer-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    
    /*background-image: url("images/doig-paper-background.jpg");*/
    background-color: #1e4078;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.sub-footer-text {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    max-width: 840px;
    padding: 3rem 1rem 1rem 1rem;
    margin: auto auto auto auto;
    text-align: center;
}

.divider-graphic {
    max-width: 20rem;
    padding: 2rem 0;
}

h1.vicky-name {
    font-size: 2.1rem;
}

h1.sub-footer-name-two {
    font-size: 1.1rem;
}

.sub-footer-images{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    
    max-width: 840px;
    padding: 3rem 1rem 1rem 1rem;
    margin: auto auto auto auto;
    text-align: center;
}

.divider-graphic {

    margin: auto auto;
}
.production-logo{
    max-width: 20rem;
    padding: .5rem 0;
}

.sub-footer-paragraphs {
    padding-top: 1rem;
}

p.provided-text {
    padding: 1rem;

}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #2638C4;
    padding: 2rem 0 4rem 0;
  
}

.nav-container {
    background-color: #2638C4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 1.2rem;
    margin-bottom: 0;
  
  
   
}

.footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nav-link {
    font-family: ropa-mix-pro,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: .9375rem;
    color: white;
    padding: .75rem;

}

.floating-nav {
    
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    animation: fadeInAnimate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 9;
    
    
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FE704E;
    /*border: .15rem solid white;*/
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 100vh;
    align-items: center;
    justify-content: center;
   
    grid-gap: 0.25rem;
}

.floating-nav-link {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    color: white;
    padding: .75rem;

}

.footer-links {
    display: grid;
   grid-template-columns: 1fr 4fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas:
   "a b c"
   "d e f"
   "g h i";
    padding-top: 2rem;
    width: 100%;
    
}

.logo-image.footer {
    grid-area: b;
    align-self: center;
    justify-self: center;
    max-width: 15rem;
}

.home-footer-link {
    grid-area: e;
    align-self: center;
    justify-self: center;
}















@media (min-width: 1200px) {
    
    
    .hero-container {
        display: grid;
        grid-template-rows: 1fr;
    
        background-color: #88c7c3;
        background-image: url(images/top-green.svg);
        background-repeat:no-repeat;
        background-position: bottom;
        background-size: 159em;
       
        min-height: 50vh;
        margin-top: 0;
        max-height: 100%;
       
    }
    
    .hero-item {
       
        display: grid;
        align-self: center;
        justify-items: center;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "a"
        ;
        width: 100%;
        align-items: center;
      
      
    }
    
    .pets-logo-image {
        display: grid;
        grid-area: "a";
      
        z-index: 9;
        
        
    }
    
    .pet-group {
        max-width: 30rem;

    }
   


    
    .header.jonnie {
        display: grid;
       font-family: "baskerville-urw", serif;
       font-weight: 800;
       font-style: normal;
       font-size: 10rem;
       
     
    
    }
  
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        background-image: url(images/bottom-green.svg);
        background-repeat:no-repeat;
        background-position: top;
        background-size: 159em;
        margin-top: 0;
        padding: 3rem 0 0 0;
        background-color: white;
        margin-bottom: 0;
      
    }
  

    .about-item {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        width: 900px;
        margin: auto auto auto auto;
        text-align: center;
        
    }

    .about-item.no-padding {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 5rem;
        width: 900px;
        margin: auto auto auto auto;
        text-align: center;
        
    }

    .how-it-works-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        padding: 4rem 0 4rem 0;
        
    }


    .film-maker-item {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
        width: 900px;
        margin: auto auto auto auto;
        text-align: center;
    
    }

    .film-maker-grid {
        padding-bottom: 5rem;
    }

    h1 {
        font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
        text-transform: uppercase;
        font-size: 4rem;
        color: #0260af;
    }

    p {
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
       
        font-size: 1.1rem;
        color: black;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        padding: 0;
        width: 100%;
        margin: 0;
        text-align: center;
        background-color: black;
        
    }

 
   
    .photo-caption {
        position: absolute;
        top: 87%;
        font-family: ropa-mix-pro,sans-serif;
        font-weight: 200;
        font-style: normal;
       
        font-size: .9375rem;
        color: white;
        padding: 2rem;
    }


    .video-container {
        display: grid;
        position: relative;
        width: 90%;
        margin: 5rem auto 5rem auto;
        padding-bottom: 56.25%; 
        height: 0;
    
      }
    
      .video-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .film-maker-grid {
        padding: 3rem 0 0 0;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 1rem;
       
        
    
     
    
    }

    .film-maker-header {
        display: grid;
        text-align: center;
        margin-top: 7rem;
        padding-bottom: 0rem;
        margin: 7rem auto auto auto;
        width: 60%;
    }

    .film-maker-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
       
        width: auto;
        text-align: left;
    
    }

    .film-maker-content {
        grid-area: text;
        font-size: 1rem;
        
    }

    .filmmaker-subheader {
        text-align: center;
    }

    .portrait-image {
        width: 500px;
        margin: auto auto auto auto;
       
    }


    .sub-footer-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        margin-top: 17rem;
        /*background-image: url("images/doig-paper-background.jpg");*/
        background-color: #1e4078;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .divider-graphic {
        max-width: 60rem;
        padding: 3rem 0;
    }

    .sub-footer-images{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        max-width: 840px;
        padding: 3rem 1rem 1rem 1rem;
        margin: auto auto auto auto;
        text-align: center;
    }



        .logo-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }


    .footer-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;

        
    }

  


}


